<p id="notice"><%= notice %></p>

<div class="mt-3">
  <p>
    <strong>Members:</strong>
    <%= @group.members %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @group.start_date %>
  </p>

  <p>
    <strong>Conciertos del mes:</strong>
    <%= @group.month_concerts %>
  </p>

  <p>
    <strong>Ultimo concierto:</strong>
    <%= @group.last_concert %>
  </p>

  <p>
    <strong>Maxima audiencia:</strong>
    <%= @group.max_audience %><%= "personas" %>
  </p>

  <p>
    <strong>Maxima duracion:</strong>
    <%= @group.max_duration %>
  </p>


  <p>
    <strong>Type:</strong>
    <%= @group.group_type %>
  </p>
</div>
<%= link_to 'Edit', edit_group_path(@group), class:"btn btn-success btn-sm" %> 
<%= link_to 'Back', groups_path, class:"btn btn-success btn-sm text-light" %>
